body{
    background-color: #DEF3F1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main-container{
    position: relative;
    display: grid;
    place-items: center;
    background-color: #FFFFFF;
    width: 350px;
    height: 300px;
    border-radius: 15px;
    padding: 2em;
    
}
.container{
    position: absolute;
    display: grid;
    place-items: center;
    background-color: #FFFFFF;
    width: 350px;
    height: 300px;
    border-radius: 15px;
    padding: 2em;
}
h2{
    margin: 0;
}
/* Progress Bar settings */
.color-bar{
    background-color: #F3F6F9;
    width: 100%;
    border-radius: 10px;
    height: 20px;
    margin: auto;
}
.color,
.color-two,
.color-three{
    height: 20px;
    width: 20%;
    background-color: green;
    border-radius: 10px;
}
/* Input styles */
input{
    font-size: xx-large;
    border-radius: 5px;
    border: 1px #DCE4ED solid;
    outline: none;
    width: 100%;
}
input:required{
    border: red solid 1px;
}
input::placeholder{
    font-size: small;
}
/* Buttonn styles */
.flex-btn{
    display: flex;
    width: 100%;
    
}
#previous-one{
    background-color: #F3F6F9;
    color: #39474D;
}
button{
    background-color: #39474D;
    color: white;
    border-radius: 5px;
    width: 100%;
    height: 4em;
    flex-grow: 1;
    outline: none;
    border: none;
}
#submit{
    background-color: #6AD9A3;
    border: none;
}
/* Stacking order styles */
.name{
    z-index: 3;
}
.email{
    z-index: 2;
}
.phone{
    z-index: 1;
}